@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  background: #000 url("https://i.imgur.com/Nt7oxPn.jpg") no-repeat center center fixed;
  background-position: fixed 0 0;
  background-size: cover;
  height: 100%;
}
.form-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  margin: 5rem 0;
}
.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2rem;
}
.form-header button {
  margin-left: 10px;
}
.var-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.var-add button {
  background-color: transparent !important;
  border: none;
  color: #000 !important;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  width: 40px !important;
  height: 40px;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.var-add button:hover, 
.var-add button:focus {
  color: #000;
}
.quiz-var {
  padding: 0 0 0 1rem;
  margin: 1rem 0 0;
}

.quiz-var li {
  list-style: decimal;
  line-height: 30px;
}
.quiz-var li button {
  cursor: pointer;
  font-size: 40px;
  color: #f7412b;
  transform: rotate(45deg);
  line-height: 18px;
  margin: 0;
  position: absolute;
  top: -15px;
  width: 26px;
  padding: 0;
  background-color: transparent !important;
  border: none;
}
.del-btn {
  align-items: center;
  display: contents;
  width: 20px;
  position: relative;
  cursor: pointer;
  font-size: 24px !important;
}
.del svg path {
  fill: red;
}
.edit svg path {
  fill: orange;
}
.tick svg path {
  fill: green;
}
.spaninline{
  display: inline-block;
}
.footer-btn {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0;
}
.App button {
  color: #fff;
  width: 100px;
}
.btn--radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn--blue {
  background: #3c6cd8 !important;
}

.btn--blue:hover {
  background: #437cfd;
}
.btn--red {
  background: #ff0000 !important;
}

.btn--red:hover {
  background: #ff0000;
}
h2 {
  font-size: 40px;
  margin: 0;
}
#qid,
#date {
  cursor: not-allowed;
}
@media (max-width: 480px) {
  .form-container {
    border-radius: 5px;
    padding: 15px;
    margin: 1rem 0 6rem;
  }
  .form-header {
    flex-wrap: wrap;
  }
  .btn--group {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0;
    width: 100%;
  }
  .form-header button {
    margin-left: 0;
}
}
.sc-chat-window {
  width: 370px;
  height: calc(100% - 120px);
  max-height: 600px;
  position: fixed;
  right: 10px;
  bottom: 100px;
  box-sizing: border-box;
  /* box-shadow: 0px 7px 40px 2px rgba(148, 149, 150, 0.3); */
  /* background: white; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.sc-chat-window.closed {
  opacity: 0;
  visibility: hidden;
  bottom: 90px;
}
.message-input {
  /* width: 100%; */
  height: 80%;
  margin: 110px 15px 0;
  background-color: white;
  border-radius: 9px;
  /* border-top-right-radius: 9px; */
  box-shadow: 0px 2px 4px 2px rgba(148, 149, 150, 0.3);
}
.sc-message-list {
  height: 75%;
  /* overflow-y: auto; */

  /* background-size: 100%; */
  padding: 15px 0 0;

  
}
.yesno-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 0.5rem;
  padding: 0 3rem;
}
.cat-btn {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 0 0 3.6rem;
}
.cat-btn button {
  background-color: #f5f8fa;
  border: none;
  border-radius: 25px;
  color: #2676fc;
  font-size: 12px;
  margin: 0 0.3rem 0.5rem 0;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
}
.cat-btn button:hover {
  background-color: #2676fc;
  color: #fff;
}
.yesno-btn button {
  background-color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  width: 215px;
  color: #2676fc;
  cursor: pointer;
  padding: 0.5rem;
}
.yesno-btn button:first-child {
  border-top: 1px solid #bababb;
  border-left: 1px solid #bababb;
  border-right: 1px solid #bababb;
  border-bottom: none; 
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.yesno-btn button:last-child {
  border: 1px solid #bababb;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.cat-btn button:focus,
.yesno-btn button:focus {
  outline: none;
}

.sc-message-scroller {
  height: 100%;
  overflow-y: auto;
}

.sc-message--me {
  text-align: right;
}
.sc-message--them {
  text-align: left;
}

@media (max-width: 450px) {
  .sc-chat-window {
    width: 100%;
    height: 100%;
    max-height: 100%;
    right: 0px;
    bottom: 0px;
    border-radius: 0px;
  }
  .sc-chat-window {
    transition: 0.1s ease-in-out;
  }
  .sc-chat-window.closed {
    bottom: 0px;
  }
}

.chat-box-container {
  padding: 0;
  position: fixed;
  right: 25px;
  bottom: 100px;
  background-color: #000;
  
}

.typing {
  color: #263238;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
}

.typing-loader{
  margin: 1rem 0;
  width: 6px;
  height: 6px;
  -webkit-animation: line 1s linear infinite alternate;
 -moz-animation: line 1s linear infinite alternate;
 animation: line 1s linear infinite alternate;
 border-radius: 5px;
}
@-webkit-keyframes line{
  0%{
     
      background-color: rgba(0,0,0, 1);
      box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                  24px 0px 0px 0px rgba(0,0,0,0.2);
                  
    }
  25%{ 
          background-color: rgba(0,0,0, 0.4);
          box-shadow: 12px 0px 0px 0px rgba(0,0,0,2), 
                  24px 0px 0px 0px rgba(0,0,0,0.2);
                  
  }
  75%{ background-color: rgba(0,0,0, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                  24px 0px 0px 0px rgba(0,0,0,2);
                 
    }
}

@-moz-keyframes line{
  0%{
     
      background-color: rgba(0,0,0, 1);
      box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                  24px 0px 0px 0px rgba(0,0,0,0.2);
                  
    }
  25%{ 
          background-color: rgba(0,0,0, 0.4);
          box-shadow: 12px 0px 0px 0px rgba(0,0,0,2), 
                  24px 0px 0px 0px rgba(0,0,0,0.2);
                  
  }
  75%{ background-color: rgba(0,0,0, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                  24px 0px 0px 0px rgba(0,0,0,2);
                 
    }
}

@keyframes line{
  0%{
     
      background-color: rgba(0,0,0, 1);
      box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                  24px 0px 0px 0px rgba(0,0,0,0.2);
                  
    }
  25%{ 
          background-color: rgba(0,0,0, 0.4);
          box-shadow: 12px 0px 0px 0px rgba(0,0,0,2), 
                  24px 0px 0px 0px rgba(0,0,0,0.2);
                  
  }
  75%{ background-color: rgba(0,0,0, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                  24px 0px 0px 0px rgba(0,0,0,2);
                 
    }
}
@media(max-width: 480px) {
  .message-input {
    height: 70%;
  }
}

.errorMessage{ 
  text-align: center;
  color: red;
}

.successMessage{ 
  text-align: center;
  color: green;
}