@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  background: #000 url("https://i.imgur.com/Nt7oxPn.jpg");
  background-position: center;
  background-size: cover;
  /* height: 100vh; */
  background-repeat: no-repeat;
}
.form-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  margin: 5rem 0;
  /* height: 100%; */
}
.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2rem;
}
.form-header button {
  margin-left: 10px;
}
.var-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.var-add button {
  background-color: transparent !important;
  border: none;
  color: #000 !important;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  width: 40px !important;
  height: 40px;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
button:focus {
  outline: none;
}
.var-add button:hover, 
.var-add button:focus {
  color: #000;
}
.quiz-var {
  padding: 0 0 0 1rem;
  margin: 1rem 0 0;
}

.quiz-var li {
  list-style: decimal;
  line-height: 30px;
}
.quiz-var li button {
  cursor: pointer;
  font-size: 40px;
  color: #f7412b;
  transform: rotate(45deg);
  line-height: 18px;
  margin: 0;
  position: absolute;
  top: -15px;
  width: 26px;
  padding: 0;
  background-color: transparent !important;
  border: none;
}
.del-btn {
  align-items: center;
  display: contents;
  width: 20px;
  position: relative;
  cursor: pointer;
  font-size: 24px !important;
}
.del svg path {
  fill: red;
}
.edit svg path {
  fill: orange;
}
.tick svg path {
  fill: green;
}
.spaninline{
  /* display: inline-block; */
  /* display: block; */
}
.footer-btn {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0;
}
.App button {
  color: #fff;
  width: 100px;
}
.btn--radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn--blue {
  background: #3c6cd8 !important;
}

.btn--blue:hover {
  background: #437cfd;
}
.btn--red {
  background: #ff0000 !important;
}

.btn--red:hover {
  background: #ff0000;
}
h2 {
  font-size: 40px;
  margin: 0;
}
#qid,
#date {
  cursor: not-allowed;
}
@media (max-width: 480px) {
  .form-container {
    border-radius: 5px;
    padding: 15px;
    margin: 1rem 0 6rem;
  }
  .form-header {
    flex-wrap: wrap;
  }
  .btn--group {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0;
    width: 100%;
  }
  .form-header button {
    margin-left: 0;
}
}
.sc-chat-window {
  width: 62%;
  /* height: calc(100% - 120px); */
  /* max-height: 600px; */
  /* position: fixed; */
  /* right: 10px; */
  bottom: 100px;
  box-sizing: border-box;
  /* box-shadow: 0px 7px 40px 2px rgba(148, 149, 150, 0.3); */
  /* background: white; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.sc-chat-window.closed {
  opacity: 0;
  visibility: hidden;
  bottom: 90px;
}
.message-input::-webkit-scrollbar {
  display: none;
}
.message-input {
  background-color: white;
  box-shadow: 10px 3px 12px #00000014;
  overflow-y: scroll;
}
.yesno-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 0.5rem;
  padding: 0 3rem;
}
.cat-btn {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 0 0 3.6rem;
}
.cat-btnDisabled {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 0 0 3.6rem;
}
.cat-btnDisabled button {
  background-color: #EFEFEF;
  border: none;
  border-radius: 6px;
  color: rgb(151, 159, 180);
  font-size: 14px;
  margin: 0 0.3rem 0.5rem 0;
  padding: 0.3rem 0.7rem;
  cursor: not-allowed;
  min-width: 46px;
}
.cat-btn button {
  background-color: #2676fc;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  margin: 0 0.3rem 0.5rem 0;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  min-width: 46px;
}
.cat-btn button:hover {
  background-color: #2676fc;
  color: #fff;
}
.yesno-btn button {
  background-color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  width: 215px;
  color: #2676fc;
  cursor: pointer;
  padding: 0.5rem;
}
.yesno-btn button:first-child {
  border-top: 1px solid #bababb;
  border-left: 1px solid #bababb;
  border-right: 1px solid #bababb;
  border-bottom: none; 
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.yesno-btn button:last-child {
  border: 1px solid #bababb;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.cat-btn button:focus,
.yesno-btn button:focus {
  outline: none;
}

.sc-message-scroller {
  height: 100vh;
  overflow-y: scroll;
  padding: 100px 30px 90px 45px;
  background: #F7F9FD;
}

.sc-message-scroller::-webkit-scrollbar-track, .bot-faq::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #f5f5f5;
  border-radius: 10px; }

.sc-message-scroller::-webkit-scrollbar, .bot-faq::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5; }

.sc-message-scroller::-webkit-scrollbar-thumb, .bot-faq::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #7a99d9), color-stop(0.72, #497dbd), color-stop(0.86, #1c3a94)); }


.sc-message--me {
  text-align: right;
}
.sc-message--them {
  text-align: left;
}

@media (max-width: 450px) {
  .sc-chat-window {
    width: 100%;
    height: 100%;
    max-height: 100%;
    right: 0px;
    bottom: 0px;
    border-radius: 0px;
  }
  .sc-chat-window {
    transition: 0.1s ease-in-out;
  }
  .sc-chat-window.closed {
    bottom: 0px;
  }
}

.chat-box-container {
  padding: 0;
  position: fixed;
  right: 25px;
  bottom: 100px;
  background-color: #000;
  
}

.typing {
  color: #263238;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
}

.typing-loader{
  margin: 1rem 0;
  width: 6px;
  height: 6px;
  -webkit-animation: line 1s linear infinite alternate;
 -moz-animation: line 1s linear infinite alternate;
 animation: line 1s linear infinite alternate;
 border-radius: 5px;
}
@-webkit-keyframes line{
  0%{
     
      background-color: rgba(0,0,0, 1);
      box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                  24px 0px 0px 0px rgba(0,0,0,0.2);
                  
    }
  25%{ 
          background-color: rgba(0,0,0, 0.4);
          box-shadow: 12px 0px 0px 0px rgba(0,0,0,2), 
                  24px 0px 0px 0px rgba(0,0,0,0.2);
                  
  }
  75%{ background-color: rgba(0,0,0, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                  24px 0px 0px 0px rgba(0,0,0,2);
                 
    }
}

@-moz-keyframes line{
  0%{
     
      background-color: rgba(0,0,0, 1);
      box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                  24px 0px 0px 0px rgba(0,0,0,0.2);
                  
    }
  25%{ 
          background-color: rgba(0,0,0, 0.4);
          box-shadow: 12px 0px 0px 0px rgba(0,0,0,2), 
                  24px 0px 0px 0px rgba(0,0,0,0.2);
                  
  }
  75%{ background-color: rgba(0,0,0, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                  24px 0px 0px 0px rgba(0,0,0,2);
                 
    }
}

@keyframes line{
  0%{
     
      background-color: rgba(0,0,0, 1);
      box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                  24px 0px 0px 0px rgba(0,0,0,0.2);
                  
    }
  25%{ 
          background-color: rgba(0,0,0, 0.4);
          box-shadow: 12px 0px 0px 0px rgba(0,0,0,2), 
                  24px 0px 0px 0px rgba(0,0,0,0.2);
                  
  }
  75%{ background-color: rgba(0,0,0, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                  24px 0px 0px 0px rgba(0,0,0,2);
                 
    }
}
@media(max-width: 480px) {
  .message-input {
    height: 70%;
  }
}

.errorMessage{ 
  text-align: center;
  color: red;
}

.successMessage{ 
  text-align: center;
  color: green;
}
.pagination {
  margin: 20px auto !important;
  display: table !important;
  display: flex !important;
  justify-content: center;
}
.btn--group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deleteBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchBtn {
  width: auto !important;
}
.input-group input {
  position: relative !important;
}
.input-group .searchBtn {
  position: absolute;
  right: 0px;
  z-index: 9999;
  top: 0;
}
.closeBtn {
  position: absolute;
  right: 40px;
  z-index: 1;
  top: 5px;
}
.mt-0 {
  margin-top: 0px !important;
}
.pagination>li {
  display: inline;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #3c6cd8;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3c6cd8 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.custom-loader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 465px;
}
.btn-secondary.focus, .btn-secondary:focus, .btn-secondary:active {
  box-shadow: inherit;
  outline: inherit;
}
.HomeContainer {
  height: 600px;
}
.modalBtns {
  display: flex;
  justify-content: center;
}
.modalBtns button:first-child {
  margin-right: 10px;
}
.modal-body {
  position: relative;
  padding: 50px 15px;
}
.modal-body .Modalclose {
  position: absolute;
  right: 15px;
  top: 5px;
  width: initial;
  color: #000;
  font-size: 22px;
  padding: initial;
  background: initial;
  border: none;
}
.modal-head {
  margin-bottom: 40px;
}
.btn.disabled {
  cursor: not-allowed;
}
/* new-css */
.main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: fixed;
}
.bot-faq {
  width: 36%;
  background-color: #fff;
  padding: 10px 20px 0px 20px;
  overflow-y: scroll;
}
.faq-head-main {
  font-size: 20px;
  color: #2E2A2A;
  font-weight: 500;
  margin-bottom: 10px;
}
.faq-tags {
  display: flex;
  flex-wrap: wrap;
}
.custom-border {
  border-bottom: 1px solid #D2D2D2;
  margin: 10px 0px 5px;
}
.faq-tags button {
  background-color: #F7F9FD;
  border: 1px solid #E1E1E1;
  border-radius: 8px;
  padding: 2px 12px;
  font-weight: normal;
  color: #545454;
  font-size: 16px;
  cursor: pointer;
  margin: 0 0 0.5rem;
  transition: 0.3s linear;
}
.faq-tags button:not(:last-child) {
  margin-right: 6px;
}

.faq-tags button:hover {
  background-color: #2576fc;
  color: #fff;
}
.faq-tags button:disabled, .questions-list button:disabled {
  cursor: not-allowed;
}
.faq-tags button:disabled:hover {
  background-color: #F7F9FD;
  color: #545454;
}
.questions-list button:disabled:hover {
  background-color: #fff;
  color: #545454;
}
.questions-list li:disabled {
  cursor: not-allowed;
}
.faq-head {
  font-size: 18px;
  color: #2E2A2A;
  margin-bottom: 10px;
  font-weight: 500;
}
.questions p {
  font-size: 14px;
  color: #5c5c5c;

}
.send-btn {
  background-color: #2576fc !important;
  padding: 10px 10px !important;
  border-radius: 5px;
}
.bot-input {
  position: fixed;
  width: 62%;
  bottom: 0px;
  background-color: #F7F9FD;
  padding-bottom: 20px;
}
.questions-list {
  list-style: none;
  padding: 0px;
}
.questions-list button{
  font-size: 16px;
  color: #545454;
  box-shadow: 1px 2px 4px #00275E2E;
  padding: 8px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s linear;
  width: 100%;
  border: initial;
  background-color: #fff;
  text-align: left;
}
.questions-list button:hover {
  background-color: #0667EB;
  color: #fff;
}
.questions-list button:hover svg g path {
  fill: #fff;
}
.questions-list button:disabled:hover svg g path{
  fill: #545454;
}
.questions-list button:not(:last-child) {
  margin-bottom: 0.5rem;
}
.questions-list button svg{
  margin-right: 12px;
}
.my-anchor-css-class {
  color: #2676fc;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none !important;
}
.my-anchor-css-class:hover {
  color: #2676fc;
}
.custom-pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}
.custom-pagination li button {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.custom-pagination li button svg path {
  fill: #000000D9;
}
/* .inputdisabled input:disabled {
  background-color: #000;
} */
/* .content-css span br {
  display: none;
} */
@media (min-width: 1801px) and (max-width:1920px) {
  .faq-tags button, .sc-message--text {
    font-size: 20px !important;
  }
  .faq-head {
    font-size: 24px;
}
.questions-list button {
  font-size: 20px !important;
}
.faq-head-main {
  font-size: 28px;
  margin-bottom: 20px;
}
.questions-list button {
  padding: 15px 10px;
}
.custom-border {
  margin: 25px 0px 15px;
}
.questions-list button:not(:last-child) {
  margin-bottom: 10px;
}
}
@media (min-width: 1681px) and (max-width:1800px) {
  .faq-tags button, .sc-message--text {
    font-size: 18px;
  }
  .faq-head {
    font-size: 24px;
}
.questions-list button {
  font-size: 18px !important;
}
.faq-head-main {
  font-size: 28px;
  margin-bottom: 20px;
}
.questions-list button {
  padding: 15px 10px;
}
.custom-border {
  margin: 25px 0px 15px;
}
.questions-list button:not(:last-child) {
  margin-bottom: 10px;
}
} 
@media (min-width: 1441px) and (max-width: 1680px) {
  .faq-tags button, .sc-message--text {
    font-size: 18px !important;
  }
  .faq-head {
    font-size: 20px;
    margin-bottom: 15px;
}
.questions-list button {
  font-size: 18px !important;
}
.faq-head-main {
  font-size: 24px;
  margin-bottom: 15px;
}
.questions-list button {
  padding: 8px 10px;
}
.custom-border {
  margin: 15px 0px 10px;
}
}